$responsive-tablet: 768px;
$responsive-mobile: 425px;
$blue : #6C8EAD;
$black: black;
$blue-dark : #3D628D;
$blue2 :#3C618C;
$white: white;
.link a{
  margin-left: 15px;
}
.link{
  margin-top: 24px;
}
.background-slide{
  background-image: url("../../public/img/fondcarousel.png");
  background-size: 1500px;
  height: 550px;
}
.background-image{
  background-image: url("../../public/img/fondimage.png");
  background-size: 410px;
}
.arrow-down{
  position: absolute;
  top: 1705px;
  left: 88px;
  width: 45%;
}
@font-face {
  font-family: "Monad";
  src: url('../../public/fonts/monad/Monad.otf');
}
h1,h5, h4, h2{
  font-family: 'Monad';
}
h1{
  color: $blue-dark;
}
%LosangeArrondie{
  -webkit-transform: rotate(45deg);
  border-radius: 80px;
  height: 230px;
  width: 230px;
}
.text-promo, .text-compagny{
  background-color: white;
  @extend %LosangeArrondie !optional;
}
.text-entreprise{
  background-color: #6C8EAD;
  margin-left: 185px;
  @extend %LosangeArrondie !optional;

}

.produits-losange{
  background-color: $white;
  -webkit-transform: rotate(45deg);
  display: flex;
  justifie-content: center;
  box-shadow: 8px 8px 12px $blue;
  @extend %LosangeArrondie
}
.goodies-losange{
  background: white;
  box-shadow: 8px 8px 12px $blue;
  position: absolute;
  top: 150px;
  left:50px;
  @extend %LosangeArrondie
}
.text-promotion{
  -webkit-transform: rotate(-45deg);
  margin-right: 40px;
  padding-top: 40px
}
.text-compagny{
  background-color: $blue;
  margin-left: 185px;
}
.slide{
  min-height: 450px;
}
.image{
  width: 190%;
}
.products{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
H5{
  color: $black;
}
:hover link{
  text-decoration: none;
}
.color{
  color: $blue2;
}
.responsive-margin{
  margin-left: -67px
}
.imagetwo{
  width: 500px;
  padding-left: 100px;
}

.imagethree{
  margin: auto;
}
.contain-white{
  width: 1250px;
  margin: auto;
}
.title{
  padding-left: 90px;
}
.block{
  width: 400px;
}
//footer
.footer{
  background-color: $blue;
  color: $white;
}
a, i, link, .iconsociaux{
  color: $white;
}
.link{
  color: white;
}
:hover .link {
  color: white;
  text-decoration: none;
}
.line{
  background-color: $blue-dark;
  height: 15px;
}
@media (max-width: $responsive-tablet) {
  .products{
    flex-direction: column;
    align-items: center;
  }
  .block-responsive{
    margin-left: 200px;
    margin-right: 220px;
  }
  .contain-white{
    width: 0px;
  }
  .block{
    margin-top: 10px;
  }
  .responsive-entreprise{
    display: none;
  }
  .responsive-margin{
    margin-left: 40px;
    width: 500px;
  }
  .arrow-down{
    position: absolute;
    top: 2595px;
    left: 88px;
    width: 45%;
  }
  .imagetwo{
    width: 330px;
  }

}
@media (max-width: $responsive-mobile) {
  .responsive-margin{
    margin-left: 0px;
    width: 500px;
  }
  .products{
    flex-direction: column;
    align-items: center;
  }
  .block{
    margin-top: 10px;
    margin-left: -20px;
  }
  .title{
    padding-left: 15px;
  }
  .contain-white{
    width: 0px;
  }
  .block-responsive{
    margin-left: 200px;
    margin-right: 220px;
  }
  .arrow-down{
    position: absolute;
    top: 2585px;
    left: 15px;
    width: 93%;
  }
  .image{
    position: absolute;
    top: -120px;
    LEFT: -295px;
    WIDTH: 251px;
  }
  .imagetwo{
    position: absolute;
    top: -279px;
    LEFT: -45px;
    WIDTH: 235px;
  }

}
